---
whiskers:
  version: ^2.0.0
  filename: "public/index.txt"
  hex_format: "#{{r}}{{g}}{{b}}"
---
{%- set_global offset = 0 %}
{%- for _, color in flavor.colors %}
  {%- set color_length = color.name | length %}
  {%- if color_length > offset %}
    {%- set_global offset = color_length %}
  {%- endif %}
{%- endfor -%}

]0;{{text.hex}}\{#    bold        -#}
]10;{{text.hex}}\{#   foreground  -#}
]11;{{base.hex}}\{#   background  -#}
]12;{{green.hex}}\{#  cursor      -#}

[38;2;{{text.rgb.r}};{{text.rgb.g}};{{text.rgb.b}}m[1m
evergarden[22m

evergarden is a colorscheme inspired by lush forests, enchanted groves, and the
calm of nature. It was also inspired by the lively art of The Legend of Zelda:
The Minish Cap. It's designed to be easy on the eyes, elegant, and just plain
nice to look at - whether you're coding, writing, or just staring at your
terminal for fun (we won't judge).
[33m

{%- set colors_length = flavor.colors | length %}
{%- for i, color in flavor.colors %}
[38;2;{{color.rgb.r}};{{color.rgb.g}};{{color.rgb.b}}m[1m{{color.name}}:

{%- set color_length = color.name | length %}
{%- for _ in range(end=offset - color_length + 2) %} {% endfor -%}

{{color.hex}}[22m

{%- endfor %}

