@use "sass:map";

@function font-size($size) {
  @return calc(1.44em / 24 * $size);
}

@function font-weight($weight) {
  @return map.get(
    (
      extralight: 200,
      light: 300,
      regular: 400,
      medium: 500,
      semibold: 600,
      bold: 700,
      extrabold: 800,
      black: 900,
    ),
    $weight
  );
}

@function theme($type) {
  @return var(--theme-#{$type});
}

@function color($theme, $type) {
  @return var(--var-color-#{$theme}-#{$red});
}

$spacing-unit: 1rem/16;

@function spacing($size) {
  @return $spacing-unit * $size;
}
