@mixin theme-variables($theme) {
  --theme-red: var(--var-color-#{$theme}-red);
  --theme-orange: var(--var-color-#{$theme}-orange);
  --theme-yellow: var(--var-color-#{$theme}-yellow);
  --theme-lime: var(--var-color-#{$theme}-lime);
  --theme-green: var(--var-color-#{$theme}-green);
  --theme-aqua: var(--var-color-#{$theme}-aqua);
  --theme-skye: var(--var-color-#{$theme}-skye);
  --theme-snow: var(--var-color-#{$theme}-snow);
  --theme-blue: var(--var-color-#{$theme}-blue);
  --theme-purple: var(--var-color-#{$theme}-purple);
  --theme-pink: var(--var-color-#{$theme}-pink);
  --theme-cherry: var(--var-color-#{$theme}-cherry);
  --theme-text: var(--var-color-#{$theme}-text);
  --theme-subtext1: var(--var-color-#{$theme}-subtext1);
  --theme-subtext0: var(--var-color-#{$theme}-subtext0);
  --theme-overlay2: var(--var-color-#{$theme}-overlay2);
  --theme-overlay1: var(--var-color-#{$theme}-overlay1);
  --theme-overlay0: var(--var-color-#{$theme}-ovarlay0);
  --theme-surface2: var(--var-color-#{$theme}-surface2);
  --theme-surface1: var(--var-color-#{$theme}-surface1);
  --theme-surface0: var(--var-color-#{$theme}-surface0);
  --theme-base: var(--var-color-#{$theme}-base);
  --theme-mantle: var(--var-color-#{$theme}-mantle);
  --theme-crust: var(--var-color-#{$theme}-crust);
}

:root {
  /* Winter */
  --var-color-winter-red: #f57f82;
  --var-color-winter-orange: #f7a182;
  --var-color-winter-yellow: #f5d098;
  --var-color-winter-lime: #dbe6af;
  --var-color-winter-green: #cbe3b3;
  --var-color-winter-aqua: #b3e3ca;
  --var-color-winter-skye: #b3e6db;
  --var-color-winter-snow: #afd9e6;
  --var-color-winter-blue: #b2caed;
  --var-color-winter-purple: #d2bdf3;
  --var-color-winter-pink: #f3c0e5;
  --var-color-winter-cherry: #fae6ef;
  --var-color-winter-text: #f8f9e8;
  --var-color-winter-subtext1: #adc9bc;
  --var-color-winter-subtext0: #96b4aa;
  --var-color-winter-overlay2: #839e9a;
  --var-color-winter-overlay1: #6f8788;
  --var-color-winter-overlay0: #58686d;
  --var-color-winter-surface2: #4a585c;
  --var-color-winter-surface1: #374145;
  --var-color-winter-surface0: #262f33;
  --var-color-winter-base: #1e2528;
  --var-color-winter-mantle: #191e21;
  --var-color-winter-crust: #171c1f;
  
  /* Fall */
  --var-color-fall-red: #f57f82;
  --var-color-fall-orange: #f7a182;
  --var-color-fall-yellow: #f5d098;
  --var-color-fall-lime: #dbe6af;
  --var-color-fall-green: #cbe3b3;
  --var-color-fall-aqua: #b3e3ca;
  --var-color-fall-skye: #b3e6db;
  --var-color-fall-snow: #afd9e6;
  --var-color-fall-blue: #b2caed;
  --var-color-fall-purple: #d2bdf3;
  --var-color-fall-pink: #f3c0e5;
  --var-color-fall-cherry: #fae6ef;
  --var-color-fall-text: #f8f9e8;
  --var-color-fall-subtext1: #adc9bc;
  --var-color-fall-subtext0: #96b4aa;
  --var-color-fall-overlay2: #839e9a;
  --var-color-fall-overlay1: #6f8788;
  --var-color-fall-overlay0: #58686d;
  --var-color-fall-surface2: #4a585c;
  --var-color-fall-surface1: #374145;
  --var-color-fall-surface0: #2b3337;
  --var-color-fall-base: #232a2e;
  --var-color-fall-mantle: #1c2225;
  --var-color-fall-crust: #171c1f;
  
  /* Spring */
  --var-color-spring-red: #f57f82;
  --var-color-spring-orange: #f7a182;
  --var-color-spring-yellow: #f5d098;
  --var-color-spring-lime: #dbe6af;
  --var-color-spring-green: #cbe3b3;
  --var-color-spring-aqua: #b3e3ca;
  --var-color-spring-skye: #b3e6db;
  --var-color-spring-snow: #afd9e6;
  --var-color-spring-blue: #b2caed;
  --var-color-spring-purple: #d2bdf3;
  --var-color-spring-pink: #f3c0e5;
  --var-color-spring-cherry: #fae6ef;
  --var-color-spring-text: #f8f9e8;
  --var-color-spring-subtext1: #adc9bc;
  --var-color-spring-subtext0: #96b4aa;
  --var-color-spring-overlay2: #839e9a;
  --var-color-spring-overlay1: #6f8788;
  --var-color-spring-overlay0: #58686d;
  --var-color-spring-surface2: #4a585c;
  --var-color-spring-surface1: #3e4a4f;
  --var-color-spring-surface0: #343e43;
  --var-color-spring-base: #2b3438;
  --var-color-spring-mantle: #232a2e;
  --var-color-spring-crust: #1c2225;
  
  /* Summer */
  --var-color-summer-red: #c58687;
  --var-color-summer-orange: #c69883;
  --var-color-summer-yellow: #c4aa80;
  --var-color-summer-lime: #abb182;
  --var-color-summer-green: #91a77a;
  --var-color-summer-aqua: #74a48b;
  --var-color-summer-skye: #719f96;
  --var-color-summer-snow: #7799a3;
  --var-color-summer-blue: #8294ad;
  --var-color-summer-purple: #a897b8;
  --var-color-summer-pink: #c499b8;
  --var-color-summer-cherry: #c29fb2;
  --var-color-summer-text: #2b3034;
  --var-color-summer-subtext1: #455355;
  --var-color-summer-subtext0: #576869;
  --var-color-summer-overlay2: #707d76;
  --var-color-summer-overlay1: #829084;
  --var-color-summer-overlay0: #acb5a4;
  --var-color-summer-surface2: #ceccbd;
  --var-color-summer-surface1: #e6e1d3;
  --var-color-summer-surface0: #ede8dd;
  --var-color-summer-base: #f5efe6;
  --var-color-summer-mantle: #f2eae1;
  --var-color-summer-crust: #e8ded5;
  
  @include theme-variables(summer);

  @media (prefers-color-scheme: dark) {
    @include theme-variables(fall);
  }
}

html[data-theme="summer"] {
  color-scheme: light;
  @include theme-variables(summer);
}

html[data-theme="spring"] {
  color-scheme: dark;
  @include theme-variables(spring);
}

html[data-theme="fall"] {
  color-scheme: dark;
  @include theme-variables(fall);
}

html[data-theme="winter"] {
  color-scheme: dark;
  @include theme-variables(winter);
}
