@use "./functions" as *;
@use "./reset";
@use "./font";
@use "./variables";

body {
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, Adwaita Sans, Cantarell, Ubuntu, roboto, noto, helvetica, arial, sans-serif;
  background-color: var(--theme-base);
  color: var(--theme-text);
}

code {
  font-family: Menlo, Consolas, Monaco, Adwaita Mono, Liberation Mono, Lucida Console, monospace;
}
