@use "./functions" as *;
@use "./responsive" as *;
@use "./reset";
@use "./font";
@use "./variables";

html {
  color-scheme: dark light;
  font-size: 16px;
}

html,
body {
  min-height: 100vh;
}

body {
  background-color: var(--theme-base);
  color: var(--theme-text);
  font-family: "Maple Mono", monospace;
}

a {
  color: inherit;
  text-decoration: none;
  text-decoration-inset: 0.5rem;
  cursor: pointer;

  color: theme(blue);

  &:hover {
    text-decoration: underline wavy;
  }

  &::before,
  &::after {
    color: theme(overlay2);
    text-decoration: none !important;
  }

  &::before {
    content: "[";
  }

  &::after {
    content: "]";
  }
}

::selection {
  background-color: theme(surface1);
}

::placeholder {
  color: theme(overlay1);
}

main {
  display: grid;
}
