---
whiskers:
  version: ^2.0.0
  filename: "src/data/palette.yml"
---
{% for _, flavor in flavors -%}
- name: {{flavor.name}}
  colors:
    {% for _, color in flavor.colors -%}
    - name: {{color.name}}
      hex: "#{{color.hex}}"
    {% endfor %}
{% endfor %}
